<html>

<head>
  <link rel="stylesheet" href="/css/blogcss.css" />

  <%- include('../views/partials/links'); %>

</head>

<body>

  <!-- header part -->

  <nav class="navbar navbar-expand-lg bg-danger navbar-light">
    <div class="container mt-1">
      <h2 class="text-white">Scribe Tribe </h2>
      <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsenavbar">
        <span class="navbar-toggler-icon "></span>
      </button>
  
      <div class="collapse navbar-collapse text-center" id="collapsenavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-2">
            <a href="/addexam" class="nav-link text-white"> ADD EXAMS </a>
          </li>
          <li class="nav-item px-2">
            <a href="/accept" class="nav-link text-white"> ACCEPT REQUEST </a>
          </li>
          <li class="nav-item px-2">
            <a href="/profile" class="nav-link text-white"> RROFILE </a>
          </li>
          <li class="nav-item px-2">
            <a href="/logout" class="nav-link text-white"> LOGOUT </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- page content -->

  <% function formatDate(dateObject) { let d=new Date(dateObject); let day=d.getDate(); let month=d.getMonth() + 1; let
    year=d.getFullYear(); if (day < 10) { day="0" + day; } if (month < 10) { month="0" + month; } let date=year + "-" +
    month + "-" + day; return date; };%>

    

      <div class="main-wrapper mt-0">
        <div class="container main-container">
        <span class="nSubHeading">Student/All Exams </span>

          <% exams.forEach(exam=> { %>
            <div class="row main-row mt-4">
              <div class="col-12 align-center">
                <div class="row p-3">
                  <div class="col-5 align-middle">

                    <h5>
                      <%= formatDate(exam.date) %>
                    </h5>
                    Time : <%= exam.time %> <br>
                    Language: <%= exam.language %>
                  </div>

                  <div class="col-5 align-middle mt-4">
                    <h6>
                      <%= exam.location %>
                    </h6>
                    <%= exam.city %> <br>
                  </div>

                  <div class="col-2 mt-3">

                    <a href="/volunteer/<%= exam._id %>" class="btn btn-danger btn-block">View Volunteer</a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
      </div>
          <div>
            <%- include('../views/partials/footer'); %>
          </div>

</body>

</html>